### LET'S IMPORT THE NECESSARY MODULES

In [1]:
# let's import the necessary modules
# importing pandas
import pandas as pd
# importing numpy
import numpy as np

In [6]:
# lets import the datatest file
df = pd.read_csv('Autolib_dataset (2).csv')

In [7]:
# let's preview the dataset
df.head()

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,2 Avenue de Suffren,0,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,...,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,145 Rue Raymond Losserand,6,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,...,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,2 Avenue John Fitzgerald Kennedy,3,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,...,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,51 Rue EugÃ¨ne OudinÃ©,3,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,...,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,6 avenue de la Porte de Champerret,3,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,...,NaN,3,station,ok,nonexistent,2018,4,8,17,23

In [9]:
# let's check the info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [8]:
# let's check the shape of the dataset
df.shape

(5000, 25)

In [10]:
# let's check the columns of the dataset
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

### CLEANING THE DATAFRAME

In [76]:
# checking for null values
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [77]:
# let's get rid of columns with null values
df.drop(['Displayed comment'],axis=1,inplace=True)
df.drop(['Scheduled at'],axis=1,inplace=True)
df.isnull().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [79]:
# let's check for duplicate values
df.duplicated().sum()

0

In [80]:
# let's check the unique values of the dataset
df.nunique()

Address                1104
Cars                      8
Bluecar counter           8
Utilib counter            3
Utilib 1.4 counter        4
Charge Slots              3
Charging Status           3
City                     88
ID                     1105
Kind                      4
Geo point              1105
Postal code             107
Public name            1105
Rental status             4
Slots                     8
Station type              3
Status                    3
Subscription status       3
year                      1
month                     1
day                       9
hour                     24
minute                   60
dtype: int64

In [82]:
# let's describe the dataset
df.describe()

,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Postal code,Slots,year,month,day,hour,minute
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.0,5000.0,5000.000000,5000.000000,5000.000000
mean,2.333600,2.333600,0.059600,0.123000,0.253400,82634.878400,1.932400,2018.0,4.0,4.941600,11.509200,29.270000
std,2.035274,2.035274,0.246698,0.356506,0.546304,8835.865721,1.905402,0.0,0.0,2.597063,6.893549,17.231741
min,0.000000,0.000000,0.000000,0.000000,0.000000,75001.000000,0.000000,2018.0,4.0,1.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,75012.000000,0.000000,2018.0,4.0,3.000000,6.000000,14.000000
50%,2.000000,2.000000,0.000000,0.000000,0.000000,75019.000000,1.000000,2018.0,4.0,5.000000,11.000000,29.000000
75%,4.000000,4.000000,0.000000,0.000000,0.000000,92320.000000,3.000000,2018.0,4.0,7.000000,18.000000,44.000000
max,7.000000,7.000000,2.000000,3.000000,2.000000,95880.000000,7.000000,2018.0,4.0,9.000000,23.000000,59.000000

### QUESTIONS

#### # Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [23]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

df1 = df[(df['City']=='Paris')&(df['year']==2018)] 
df1.groupby('hour')['Bluecar counter'].count().sort_values(ascending=False).head(1)

hour
21    147
Name: Bluecar counter, dtype: int64

In [25]:
# What is the most popular hour for returning cars?

df.groupby('hour')['Cars'].count().sort_values(ascending=False).head(1)

hour
21    237
Name: Cars, dtype: int64

In [30]:
# let's find the station most popular overall?
df[['Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter']].sum().sort_values(ascending=False).head(1)

Bluecar counter    11668
dtype: int64

In [74]:
# let's find the station most popular overall at the most popular picking hour and have our output in boolean format
df[['Bluecar counter']].sum().sort_values(ascending=False).head(1) > 0

Utilib 1.4 counter    True
dtype: bool

In [75]:
# Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
 df[['Utilib counter', 'Utilib 1.4 counter']].sum().sort_values(ascending=False).head(1) > 0

Utilib 1.4 counter    True
dtype: bool

In [62]:
# What postal code is the most popular for picking up Blue cars overall?
# let's find the most popular postal code
df.groupby('Postal code')['Bluecar counter'].count().sort_values(ascending=False).head(1)

Postal code
75015    274
Name: Bluecar counter, dtype: int64

In [61]:
# Does bluecar share the most popular postal code?
df[(df['Postal code']==75015)&(df['Bluecar counter']>=1)]['Bluecar counter'].count()

195

In [68]:
# Does bluecar share the most popular postal code and have a boolean output?
df[(df['Postal code']==75015)&(df['Bluecar counter']>=1)]['Bluecar counter'].count() == df[(df['Postal code']==75015)&(df['Bluecar counter']>=1)]['Bluecar counter'].sum()

False

In [69]:
df[(df['hour']==21)&(df['Cars']==1)].groupby('Postal code')['Bluecar counter'].count().sort_values(ascending=False).head(1)

Postal code
75019    4
Name: Bluecar counter, dtype: int64