### 1. Defining the Question

##### a) Specifying the Question

##### b) Defining the Metric for Success

##### c) Understanding the Context

##### d) Recording the Experimental Design

##### e) Data Relevance

### 2. Reading Data

In [1]:
# let's import the libraries we need
from warnings import filterwarnings
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image
import pydotplus
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, f1_score, precision_score, recall_score, classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from scipy.stats import bartlett
from scipy.stats import levene
from scipy.stats import shapiro
from scipy.stats import normaltest
filterwarnings('ignore')
%matplotlib inline

##### a) Reading the Data

In [57]:
# let's import the dataset
Hypothyroid = pd.read_csv('hypothyroid.csv')

##### b) Checking the Data

In [58]:
# let's check the top 5 rows of the dataset
Hypothyroid.head()

,status,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,hypothyroid,72,M,f,f,f,f,f,f,f,...,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?

In [59]:
# let's preview the bottom 5 rows of the dataset
Hypothyroid.tail()

,status,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
3158,negative,58,F,f,f,f,f,f,f,f,...,y,1.70,y,86,y,0.91,y,95,n,?
3159,negative,29,F,f,f,f,f,f,f,f,...,y,1.80,y,99,y,1.01,y,98,n,?
3160,negative,77,M,f,f,f,f,f,f,f,...,y,0.60,y,71,y,0.68,y,104,n,?
3161,negative,74,F,f,f,f,f,f,f,f,...,y,0.10,y,65,y,0.48,y,137,n,?
3162,negative,56,F,t,f,f,f,f,f,f,...,y,1.80,y,139,y,0.97,y,143,n,?

In [60]:
# let's check the shape of the dataset
print('The dataset has {} rows and {} columns'.format(Hypothyroid.shape[0], Hypothyroid.shape[1]))

The dataset has 3163 rows and 26 columns

In [61]:
# let's see information about the dataframe
Hypothyroid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3163 entries, 0 to 3162
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   status                     3163 non-null   object
 1   age                        3163 non-null   object
 2   sex                        3163 non-null   object
 3   on_thyroxine               3163 non-null   object
 4   query_on_thyroxine         3163 non-null   object
 5   on_antithyroid_medication  3163 non-null   object
 6   thyroid_surgery            3163 non-null   object
 7   query_hypothyroid          3163 non-null   object
 8   query_hyperthyroid         3163 non-null   object
 9   pregnant                   3163 non-null   object
 10  sick                       3163 non-null   object
 11  tumor                      3163 non-null   object
 12  lithium                    3163 non-null   object
 13  goitre                     3163 non-null   object
 14  TSH_measured               3163 non-null   object
 15  TSH                        3163 non-null   object
 16  T3_measured                3163 non-null   object
 17  T3                         3163 non-null   object
 18  TT4_measured               3163 non-null   object
 19  TT4                        3163 non-null   object
 20  T4U_measured               3163 non-null   object
 21  T4U                        3163 non-null   object
 22  FTI_measured               3163 non-null   object
 23  FTI                        3163 non-null   object
 24  TBG_measured               3163 non-null   object
 25  TBG                        3163 non-null   object
dtypes: object(26)
memory usage: 642.6+ KB

In [62]:
# let's check the data types of the columns
Hypothyroid.dtypes

status                       object
age                          object
sex                          object
on_thyroxine                 object
query_on_thyroxine           object
on_antithyroid_medication    object
thyroid_surgery              object
query_hypothyroid            object
query_hyperthyroid           object
pregnant                     object
sick                         object
tumor                        object
lithium                      object
goitre                       object
TSH_measured                 object
TSH                          object
T3_measured                  object
T3                           object
TT4_measured                 object
TT4                          object
T4U_measured                 object
T4U                          object
FTI_measured                 object
FTI                          object
TBG_measured                 object
TBG                          object
dtype: object

### 3. External Data Sources Validation

### 4. Tidying the Dataframe

In [63]:
# let's see the columns
Hypothyroid.columns

Index(['status', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid',
       'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre',
       'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4',
       'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG'],
      dtype='object')

In [64]:
# let's replace all ? with NaN in the dataset
Hypothyroid.replace('?', np.nan, inplace=True)

In [66]:
mising_columns = []
for i, col in enumerate(Hypothyroid.columns):
  missing = (Hypothyroid[col].isnull().sum()/Hypothyroid.shape[0])*100
  if missing > 0:
    mising_columns.append(col)
  print(
      f'{i+1}. {col} = {(Hypothyroid[col].isnull().sum()/Hypothyroid.shape[0])*100}%')

1. status = 0.0%
2. age = 14.1005374644325%
3. sex = 2.3079355042681002%
4. on_thyroxine = 0.0%
5. query_on_thyroxine = 0.0%
6. on_antithyroid_medication = 0.0%
7. thyroid_surgery = 0.0%
8. query_hypothyroid = 0.0%
9. query_hyperthyroid = 0.0%
10. pregnant = 0.0%
11. sick = 0.0%
12. tumor = 0.0%
13. lithium = 0.0%
14. goitre = 0.0%
15. TSH_measured = 0.0%
16. TSH = 14.796079671198228%
17. T3_measured = 0.0%
18. T3 = 21.97281062282643%
19. TT4_measured = 0.0%
20. TT4 = 7.872273158393931%
21. T4U_measured = 0.0%
22. T4U = 7.840657603540942%
23. FTI_measured = 0.0%
24. FTI = 7.809042048687955%
25. TBG_measured = 0.0%
26. TBG = 91.77995573822321%

In [67]:
# let's drop TBG
Hypothyroid.drop(['TBG'], axis=1, inplace=True)

> We dropped the TBG column because it had 92% missing values.

> We will foward fill the missing values in the other columns.

In [70]:
# let's check the data types of the columns
Hypothyroid.dtypes

status                       object
age                          object
sex                          object
on_thyroxine                 object
query_on_thyroxine           object
on_antithyroid_medication    object
thyroid_surgery              object
query_hypothyroid            object
query_hyperthyroid           object
pregnant                     object
sick                         object
tumor                        object
lithium                      object
goitre                       object
TSH_measured                 object
TSH                          object
T3_measured                  object
T3                           object
TT4_measured                 object
TT4                          object
T4U_measured                 object
T4U                          object
FTI_measured                 object
FTI                          object
TBG_measured                 object
dtype: object

In [72]:
# let's foward fill the missing values in the dataset
Hypothyroid.fillna(method='ffill', inplace=True)

# check for missing values
Hypothyroid.isnull().sum().any

<bound method NDFrame._add_numeric_operations.<locals>.any of status                       0
age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
thyroid_surgery              0
query_hypothyroid            0
query_hyperthyroid           0
pregnant                     0
sick                         0
tumor                        0
lithium                      0
goitre                       0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
TBG_measured                 0
dtype: int64>

In [73]:
# let's change the datatypes of the columns using a dictionary
Hypothyroid = Hypothyroid.astype({'status': 'object',
                                  'age': 'int64',
                                  'sex': 'object',
                                  'on_thyroxine': 'object',
                                  'query_on_thyroxine': 'object',
                                  'on_antithyroid_medication': 'object',
                                  'thyroid_surgery': 'object',
                                  'query_hypothyroid': 'object',
                                  'query_hyperthyroid': 'object',
                                  'lithium': 'object',
                                  'goitre': 'object',
                                  'tumor': 'object',
                                  'TSH_measured': 'object',
                                  'TSH': 'float64',
                                  'T3_measured': 'object',
                                  'T3': 'float64',
                                  'TT4_measured': 'object',
                                  'TT4': 'float64',
                                  'T4U_measured': 'object',
                                  'T4U': 'float64',
                                  'FTI_measured': 'object',
                                  'FTI': 'float64',
                                  'TBG_measured': 'object'})

In [74]:
# let's check the data types of the columns
Hypothyroid.dtypes

status                        object
age                            int64
sex                           object
on_thyroxine                  object
query_on_thyroxine            object
on_antithyroid_medication     object
thyroid_surgery               object
query_hypothyroid             object
query_hyperthyroid            object
pregnant                      object
sick                          object
tumor                         object
lithium                       object
goitre                        object
TSH_measured                  object
TSH                          float64
T3_measured                   object
T3                           float64
TT4_measured                  object
TT4                          float64
T4U_measured                  object
T4U                          float64
FTI_measured                  object
FTI                          float64
TBG_measured                  object
dtype: object

In [76]:
# let's check for duplicates in the dataframe
Hypothyroid.duplicated().sum().any()

True

In [77]:
# let's drop all the duplicates
Hypothyroid.drop_duplicates(inplace=True)

In [78]:
# let's check for duplicates in the dataframe
Hypothyroid.duplicated().sum().any()

False

In [79]:
# let's create a function that checks for the percentage of outliers in a dataset using Interquartile range

def check_outliers(df):
    
    # instantiate the quantile variables

    Quantile_1, Quantile_2, Quantile_3 = 0, 0, 0

    # converting to dataframe

    check_outliers = pd.DataFrame()

    # let's get the numerical columns

    num_cols = df.select_dtypes(include=['int64', 'float64'])

    # getting the quantiles from the numerical columns

    Quantile_1 = num_cols.quantile(0.25)

    Quantile_3 = num_cols.quantile(0.75)

    # let's get the IQR

    IQR = Quantile_3 - Quantile_1

    # let's get the outliers

    check_outliers = num_cols[((num_cols < (
        Quantile_1 - 1.5 * IQR)) | (num_cols > (Quantile_3 + 1.5 * IQR))).any(axis=1)]

    # printing the number of outliers and the percentage of outliers

    print('There are {} outliers in the dataset.'.format(
        check_outliers.shape[0]))

    print('The percentage of outliers in the dataset is {}%.'.format(
        round((check_outliers.shape[0] / df.shape[0]) * 100, 2)))

In [80]:
# let's check the outliers in the dataset
check_outliers(Hypothyroid)

There are 820 outliers in the dataset.
The percentage of outliers in the dataset is 26.39%.

> We will use standardization to normalize the data as the outliers are significant.